.home {
    height: 793px;
    width: 100%;
    color: white;
    user-select: none;
}

.home-text {
    height: 25%;
    padding-top: 9%;
}

.main-text-1 {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

.main-text-2 {
    font-weight: 200;
    font-size: 80px;
    text-align: center;
}

.home-card {
    margin: 20px;
    height: 205px;
    width: 250px;
    margin: 0px 80px;
    transform: translateY(200px);
}

.home-card-image {
    background: url('../Images/phn.png') no-repeat center center/cover;
    filter: invert(1);
    height: 28px;
    width: 28px;
}

.home-card-image-container {
    border: 3px solid #6e63ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 60px;
    width: 65px;
}

.card-text-1 {
    font-weight: 400;
    font-size: 20px;
    margin: 25px 0px;
}

.card-text-2 {
    font-size: 15px;
    font-weight: 200;
    color: #c0c1c1;
}

.home-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 60%;
    box-sizing: border-box;
}

.home-card.down.scroll1 {
    transition: transform 2s;
    transform: translateY(0px);
}

.home-card.down.scroll2 {
    transition: transform 2s;
    transition-delay: .5s ;
    transform: translateY(0px);
}

.home-card.down.scroll3 {
    transition: transform 2s;
    transition-delay: .5s ;
    transform: translateY(0px);
}

.home-card-container.home-container {
    overflow: visible;
}
